.gallery {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-grow: 1;
  width: 100%;
}

@media screen and (max-width: 424px) {
  .gallery {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(101, 104, 112, 0.6);
  }
}

.gallery__no-results {
  margin: 0 auto;
  align-self: center;
  color: #494949;
}