.photo__go-back {
  margin-bottom: 18px;
  display: inline-block;
  color: #202020;
  font-size: 14px;
  text-decoration: underline;
}
.photo__go-back:hover {
  opacity: 0.6;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .photo__go-back {
    padding-left: 15px;
  }
}